<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<div class="container mt-4">
    <div class="card">
        <h1>Employee Registration</h1>
  
<form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label>Position</label>
      <input type="text" [(ngModel)]="position" [ngModelOptions]="{standalone: true}" class="form-control" id="Position" placeholder="Enter Position">
    </div>
    <div class="form-group">
      <label>Office</label>
      <input type="text"[(ngModel)]="office" [ngModelOptions]="{standalone: true}" class="form-control" id="Office" placeholder="Enter office">
    </div>
    <div class="form-group">
      <label>Salary</label>
      <input type="text" [(ngModel)]="salary" [ngModelOptions]="{standalone: true}" class="form-control" id="Salary" placeholder="Enter Salary">
    </div>
    
    <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>
  </form>

</div>
</div>

<div class="container mt-4" >
  <h1>Employee Table</h1>
 <table class="table">
   <thead>    
   <tr>
       <th scope="col">Name</th>
       <th scope="col">Position</th>
       <th scope="col">Office</th>  
       <th scope="col">Salary</th>
     </tr>
   </thead>
   <tbody>
       <tr *ngFor="let EmpItem of EmpArray">
       <td>{{EmpItem.name | uppercase}}</td>
       <td>{{EmpItem.position }}</td>
       <td>{{EmpItem.office }}</td>
       <td>{{EmpItem.salary}}</td>
       <td>
         <button type="button" class="btn btn-success" (click)="setUpdate(EmpItem)">Edit</button>
         <button type="button" class="btn btn-danger" (click)="setDelete(EmpItem)">Delete</button>            
       </td>
     </tr>          
   </tbody>
 </table>
 </div>
 <br>
 <br>
 

 <!-- caurosel -->
 <div id="myownid" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myownid" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myownid" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myownid" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/imgs/img1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/imgs/img2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/imgs/img3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myownid" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myownid" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
